<script type="text/javascript">
	
	angular.module('gitstyler', ['ui.bootstrap'])
	  	.controller('StiletileController', function ($scope, $http) {
	 		$scope.settingstoggle = false;

	 		$http.get('https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyD_Yr_HNQMJOOzG_v6aac2W3P5rouNGXco').success(function(data){
	 				// console.log(data.items[0])
	 				$scope.fonts = data.items
	 		})
	 		
	 		$scope.selected_headfont = null;
	 		$scope.selected_subheadfont = {'family' : '"Open Sans"'};
	 		$scope.selected_colors = setColor();
	 		$scope.selected_fontURL = setFontURL();
	 		$scope.query_colourlovers ="test";

	 		function setFontURL (obj){

	 			var fonturl = 'http://fonts.googleapis.com/css?family='
	 			if (obj){
	 				
	 				fonturl = fonturl + obj.family
	 				// console.log(fonturl);
	 				
	 			}else{
	 				fonturl = fonturl + 'Open+Sans'
	 			}
	 			return fonturl;
	 			 
	 		};
	 		function setColor (obj) {
	 			var colors;
	 			if(obj){
	 				colors = obj;
	 			}
 				else{
 					colors = null
 				}
	 			return colors
	 		}
	 		 $scope.resetColors = function() {
	 		
	 			$scope.selected_colors = null;
	 		}
	 		
	 		$scope.fontselect = function (font, loc) {
	 			var fontobj = angular.fromJson(font);
	 			if (loc == 'head' && !$scope.selected_headfont){
	 				$scope.selected_headfont = fontobj;
		 			// console.log($scope.select_headfont.family)
		 			$scope.selected_headURL = setFontURL($scope.selected_headfont);
		 			// console.log('test',test)

	 			}else if (loc == 'subhead') {
	 				$scope.selected_subheadfont = fontobj;
		 			// console.log($scope.select_headfont.family)
		 			$scope.selected_subheadURL = setFontURL($scope.selected_headfont);
		 			// console.log('test',test)
	 			}
	 			
	 		};
	 		
	 		$scope.colorselect = function (color){
	 			// console.log(color);
	 			$scope.selected_colors = color.colors;
	 		}
	 		$scope.searchColourlovers = function (query_colourlovers){
	 			console.log('searchColourlovers', query_colourlovers);
	 			$scope.query_colourlovers =query_colourlovers;
	 		}
	 		// console.log('headfontselect',$scope.selected_headfont, 'selectedfont', $scope.select_headfont)
	 		var colourloverURL = 'http://www.colourlovers.com/api/palettes?&format=json&jsonCallback=JSON_CALLBACK'
	 		
	 		$http.jsonp(colourloverURL).success(
	 			function(data){
	 				$scope.colors = data;
	 				// console.log(data)
	 			}).error(
	 			function(data, status, headers, config){console.log(status)});
	 		$scope.$watch('selected_fontURL', function (newVal) {
	 			// console.log( 'newVal', newVal  );
	 		});
	 		$scope.$watch('query_colourlovers', function (newVal) {
	 			console.log( 'searchColourlovers', newVal  );
	 		})
	  	});
			
</script>
