<div class="settings-well" ng-show="settingstoggle">
  <h2 class="template">Settings Well</h2>
  <h3>Fonts</h3> 
  
  <div class="form-group template">
    
    <div class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle btn btn-default" dropdown-toggle>
        Head Font
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" ng-model="select_color">
        {% raw %}
        <li><input type="text" ng-model="searchfont"></li>
        <li ng-repeat="font in fonts | filter: searchfont"><a href="#" ng-click="fontselect(font, 'head')">{{font.family}}</a></li>
        {% endraw %}
      </ul>
    </div>

  </div>
  <div class="form-group template">
    <div class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle btn btn-default" dropdown-toggle>
        Subead Font
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" ng-model="select_color">
        {% raw %}
        <li><input type="text" ng-model="searchfont"></li>
        <li ng-repeat="font in fonts | filter: searchfont"><a href="#" ng-click="fontselect(font, 'subhead')">{{font.family}}</a></li>
        {% endraw %}
      </ul>
    </div>
    

  </div>
  <div class="form-group template">
    <h3 class="pull-left">Color </h3>
    <tabset id="colorselect">
      <tab select="resetColors()">
        <tab-heading >
          <i class="glyphicon glyphicon-folder-close"></i> 
        </tab-heading>
        <span ng-init="color1='{color: {{page.color1}}}'"> </span>
        <input type="color" value="{{page.color1}}">{{page.color1}}<br>
        <input type="color" value="{{page.color2}}">{{page.color2}}<br>
        <input type="color" value="{{page.color3}}">{{page.color3}}<br>
        <input type="color" value="{{page.color4}}">{{page.color4}}<br>
        <input type="color" value="{{page.color5}}">{{page.color5}}<br>
      </tab>
      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-globe"></i>
        </tab-heading>
        {% raw %}
            <h3>ColourLovers.com</h3>
            <form>
              <input type="text" ng-model="query_colourlovers"><button ng-click="searchColourlovers(query_colourlovers)">Go</button>
            </form> 
            <ul ng-model="select_color">
              <li ng-repeat="color in colors"><a href="#" ng-click="colorselect(color)">{{color.title}}<br><img ng-src="{{color.imageUrl}}"></a></li>
            </ul>
        {% endraw %}
      </tab>        
    </tabset>
  </div>
    
</div>
