$spacingunit:12px;

.p_A {padding:$spacingunit/2 !important}
.p_A2 {padding:$spacingunit*2 !important}
.m_T2 {margin-top:$spacingunit*2 !important}
#styletile {
	text-shadow: rgba(16,30,40,0.75) 0 2px 5px;
	background-size: 100%;
	border: thin solid #ccc;
	padding: $spacingunit*5;

	-webkit-box-shadow: 2px 2px 4px 0px #eee;
	        box-shadow: 2px 2px 4px 0px #eee;


	.swatch {
		width: 100%;
		height: $spacingunit*4;
		border: thin solid #ccc;
		text-align: center;
	}
}

.active-well{
	.page-content, .settings-well{
		float:left;
	}
	.page-content{width:80%}
	.settings-well{
		width:20%; 
		padding:0 $spacingunit*2;
		color:black;
	}
}


h1, h2, p{
	&.template {font-size: 16px; font-weight: normal; text-transform: uppercase}
}

h2.template {font-size: 14px;}
p.template {font-size: 12px;margin-top:$spacingunit/2}