.design1 #styletile {
	.btn-shiney {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dae7f2+0,b1bec9+29,b1bec9+46,ccd6dd+66,b3bcc6+87,b3bcc6+100 */
		background: #dae7f2; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGFlN2YyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjklIiBzdG9wLWNvbG9yPSIjYjFiZWM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjYjFiZWM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjY2NkNmRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODclIiBzdG9wLWNvbG9yPSIjYjNiY2M2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzYmNjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(-45deg,  #dae7f2 0%, #b1bec9 29%, #b1bec9 46%, #ccd6dd 66%, #b3bcc6 87%, #b3bcc6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dae7f2), color-stop(29%,#b1bec9), color-stop(46%,#b1bec9), color-stop(66%,#ccd6dd), color-stop(87%,#b3bcc6), color-stop(100%,#b3bcc6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  #dae7f2 0%,#b1bec9 29%,#b1bec9 46%,#ccd6dd 66%,#b3bcc6 87%,#b3bcc6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  #dae7f2 0%,#b1bec9 29%,#b1bec9 46%,#ccd6dd 66%,#b3bcc6 87%,#b3bcc6 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  #dae7f2 0%,#b1bec9 29%,#b1bec9 46%,#ccd6dd 66%,#b3bcc6 87%,#b3bcc6 100%); /* IE10+ */
		background: linear-gradient(135deg,  #dae7f2 0%,#b1bec9 29%,#b1bec9 46%,#ccd6dd 66%,#b3bcc6 87%,#b3bcc6 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae7f2', endColorstr='#b3bcc6',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
		color: #555;
	}
	.tilehead {
		background-color: rgba(1, 11, 29, 0.47);
		margin: -40px -60px 0;
  		padding: 0px 60px 20px;
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.7);
		border-bottom: 1px solid #000712;

	}
	.logo img {
		width: 200px; 
		margin : 0px -15px;
	}
}