<!DOCTYPE html>
<html ng-app="gitstyler" ng-controller="StiletileController">

  {% include head.html %}

  <body ng-class="{'active-well': settingstoggle}" style="color:{{page.textcolor}}" >

    {% include header.html %}

    <div class="page-content">
      <div class="container">
      {% raw %}
        <link ng-if="selected_headURL" ng-href='{{selected_headURL}}' rel='stylesheet' type='text/css'>
        <link ng-if="selected_subheadURL" ng-href='{{selected_subheadURL}}' rel='stylesheet' type='text/css'>
      {% endraw %}
        <div id="styletile" style="background-image: url({{page.background-image}})">
          <div class="row tilehead">
            <div class="logo col-sm-12">
              <img src="{{page.logo}}">
            </div>
          </div>
          <div class="row">
            
            <div class="typography col-sm-6" ng-init="selected_headfont = '{{page.font1}}'">
              <h1 class="font template">Typography</h1>
              
              {% raw %}
              
                <h1 style="font-family:{{selected_headfont.family}}">This is a H1 Header</h1>
                <p class="font template">FONT: {{selected_headfont.family}}</p>
                <h2 style="font-family:{{selected_subheadfont.family}}">This is a H2 Sub-Header</h2>
                <p class="font template">FONT: {{selected_subheadfont.family}}</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  
                <a href="">this is a link</a>
              {% endraw %}
              <div class="row buttons m_T2">
                <div class="button col-md-4">
                  <button>CTA</button>
                  <p class="font template">FONT: </p>
                </div>
                <div class="button col-md-4">
                  <button>Secondary</button>
                  <p class="font template">FONT: </p>
                </div>
                <div class="button col-md-4">
                  <button>Standard</button>
                  <p class="font template">FONT: </p>
                </div>
              </div>
              
            </div>
            <div class="design col-sm-6 colourlovers" >
              <h1 class=" template">Design Elements</h1>
              <h2 class="design template">Color Pallete</h2>
              <div class="row colors service" ng-show="selected_colors">
                {% raw %} 
                <div class="col-sm-2" ng-repeat="swatch in selected_colors">
                  <div class="swatch primary1" style="background-color:#{{swatch}}"></div> 
                    <p class="template"> {{swatch}}</p>
                </div>
                
                {% endraw %}
              </div>
              <div class="row colors specifide"  ng-show="!selected_colors">
                <div class="col-sm-2 ">
                  <div class="swatch primary1" style="background-color:{{page.color1}}"></div> 
                    <p class="template"> {{page.color1}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch primary2" style="background-color:{{page.color2}}"></div>
                    <p class="template">{{page.color2}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch accent1" style="background-color:{{page.color3}}"></div>
                    <p class="template">{{page.color3}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch accent2" style="background-color:{{page.color4}}"></div>
                    <p class="template">{{page.color4}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch accent3" style="background-color:{{page.color5}}"></div>
                    <p class="template">{{page.color5}}</p>
                </div>
              </div>

              <div class="row colors">
                <h2 class="design col-sm-12">Images/Patterns</h2>  
                <div class="col-sm-4 "><div class=""></div></div>
                <div class="col-sm-4 "><div class=""></div></div>
                <div class="col-sm-4 "><div class=""></div></div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="settings-well" ng-show="settingstoggle">
      <h2 class="template">Settings Well</h2>
      <h3>Fonts</h3> 
      
      <div class="form-group template">
        
        <div class="dropdown" dropdown on-toggle="toggled(open)">
          <a href class="dropdown-toggle btn btn-default" dropdown-toggle>
            Head Font
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" ng-model="select_color">
            {% raw %}
            <li><input type="text" ng-model="searchfont"></li>
            <li ng-repeat="font in fonts | filter: searchfont"><a href="#" ng-click="fontselect(font, 'head')">{{font.family}}</a></li>
            {% endraw %}
          </ul>
        </div>

      </div>
      <div class="form-group template">
        <div class="dropdown" dropdown on-toggle="toggled(open)">
          <a href class="dropdown-toggle btn btn-default" dropdown-toggle>
            Subead Font
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" ng-model="select_color">
            {% raw %}
            <li><input type="text" ng-model="searchfont"></li>
            <li ng-repeat="font in fonts | filter: searchfont"><a href="#" ng-click="fontselect(font, 'subhead')">{{font.family}}</a></li>
            {% endraw %}
          </ul>
        </div>
        

      </div>
      <div class="form-group template">
        <h3 class="pull-left">Color </h3>
        <tabset id="colorselect">
          <tab select="resetColors()">
            <tab-heading >
              <i class="glyphicon glyphicon-folder-close"></i> 
            </tab-heading>
            <span ng-init="color1='{color: {{page.color1}}}'"> </span>
            <input type="color" value="{{page.color1}}">{{page.color1}}<br>
            <input type="color" value="{{page.color2}}">{{page.color2}}<br>
            <input type="color" value="{{page.color3}}">{{page.color3}}<br>
            <input type="color" value="{{page.color4}}">{{page.color4}}<br>
            <input type="color" value="{{page.color5}}">{{page.color5}}<br>
          </tab>
          <tab>
            <tab-heading>
              <i class="glyphicon glyphicon-globe"></i>
            </tab-heading>
            {% raw %}
                <h3>ColourLovers.com</h3>
                <form>
                  <input type="text" ng-model="query_colourlovers"><button ng-click="searchColourlovers(query_colourlovers)">Go</button>
                </form> 
                <ul ng-model="select_color">
                  <li ng-repeat="color in colors"><a href="#" ng-click="colorselect(color)">{{color.title}}<br><img ng-src="{{color.imageUrl}}"></a></li>
                </ul>
            {% endraw %}
          </tab>        
        </tabset>
      </div>
        
    </div>
  </body>
  {% include js.html%}
</html>