<!DOCTYPE html>
<html ng-app="gitstyler" ng-controller="StiletileController">

  {% include head.html %}

  <body ng-class="{'active-well': settingstoggle}" style="color:{{page.textcolor}}" >

    {% include header.html %}

    <div class="page-content">
      <div class="container {{page.css}}">

        {% raw %}
          <link ng-if="selected_headURL" ng-href='{{selected_headURL}}' rel='stylesheet' type='text/css'>
          <link ng-if="selected_subheadURL" ng-href='{{selected_subheadURL}}' rel='stylesheet' type='text/css'>
        {% endraw %}
          <link href='{{page.font1.url}}' rel='stylesheet' type='text/css'>
          <link href='{{page.font2.url}}' rel='stylesheet' type='text/css'>
          <link href='{{page.font3.url}}' rel='stylesheet' type='text/css'>
        <div id="styletile" style="background-image: url({{page.background-image}})" class="{{page.backgroundimage-scale}}">
          <div class="row tilehead">
            <div class="logo col-sm-12 {{page.logoalign}}">
              <img src="{{page.logo}}">
            </div>
          </div>
          <div class="row">
            
            <div class="typography col-sm-6" >

              <h1 class="font template">Typography</h1>
              {% include text.html %}
              
              {% include buttons.html %}
              
            </div>
            <div class="design col-sm-6 colourlovers" >
              <h1 class=" template">Design Elements</h1>
              <h2 class="design template">Color Pallete</h2>
              <div class="row colors service" ng-show="selected_colors">
                {% raw %} 
                <div class="col-sm-2" ng-repeat="swatch in selected_colors">
                  <div class="swatch primary1" style="background-color:#{{swatch}}"></div> 
                    <p class="template"> {{swatch}}</p>
                </div>
                
                {% endraw %}
              </div>
              <div class="row colors specifide"  ng-show="!selected_colors">
                <div class="col-sm-2 ">
                  <div class="swatch primary1" style="background-color:{{page.color1}}"></div> 
                    <p class="template"> {{page.color1}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch primary2" style="background-color:{{page.color2}}"></div>
                    <p class="template">{{page.color2}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch accent1" style="background-color:{{page.color3}}"></div>
                    <p class="template">{{page.color3}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch accent2" style="background-color:{{page.color4}}"></div>
                    <p class="template">{{page.color4}}</p>
                </div>
                <div class="col-sm-2 ">
                  <div class="swatch accent3" style="background-color:{{page.color5}}"></div>
                    <p class="template">{{page.color5}}</p>
                </div>
              </div>

              <div class="row colors">
                <h2 class="design col-sm-12 template">Images/Patterns</h2>  
                <div class="col-sm-4 "><div class="imagepattern"><img src="{{page.image1}}"></div></div>
                <div class="col-sm-4 "><div class="imagepattern"><img src="{{page.image2}}"></div></div>
                <div class="col-sm-4 "><div class="imagepattern"><img src="{{page.image3}}"></div></div>
              
              </div>
            </div>
          </div>
          <div class="custom_section">
            {{content}}
          </div>
        </div>
      </div>
    </div> 
    {% include settingswell.html %}
  </body>
  {% include js.html%}
</html>